/* FeedbackList.css */

.feedback-list {
    padding: 20px;
    border-radius: 8px;
}

.feedback-list.light {
    background-color: #ffffff; /* Цвет фона для светлой темы */
    color: #000; /* Цвет текста для светлой темы */
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    transition: background-color 0.5s ease, color 0.5s ease; /* Плавный переход для фона и цвета текста */
}

.feedback-list.dark {
    background-color: #444444; /* Цвет фона для темной темы */
    color: #ffffff; /* Цвет текста для темной темы */
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    transition: background-color 0.5s ease, color 0.5s ease; /* Плавный переход для фона и цвета текста */
}

.feedback-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc; /* Цвет границы */
    border-radius: 4px;
    background-color: inherit; /* Используем фоновый цвет родителя */
}

/* FeedbackForm.css */

.feedback-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px; /* Отступ снизу для формы */
}

.feedback-form.light {
    background-color: #ffffff; /* Цвет фона для светлой темы */
    color: #000; /* Цвет текста для светлой темы */
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    transition: background-color 0.5s ease, color 0.5s ease; /* Плавный переход для фона и цвета текста */
}

.feedback-form.dark {
    background-color: #444444; /* Цвет фона для темной темы */
    color: #ffffff; /* Цвет текста для темной темы */
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    transition: background-color 0.5s ease, color 0.5s ease; /* Плавный переход для фона и цвета текста */
}

.form-field {
    margin-bottom: 15px;
}

.form-field input,
.form-field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: inherit; /* Используем фоновый цвет родителя */
    color: inherit; /* Используем цвет текста родителя */
}

.form-field textarea {
    resize: vertical; /* Позволяем изменять размер только по вертикали */
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

button:hover {
    background-color: #ddd; /* Цвет для hover (можно доработать) */
}