.content {
    margin-top: 20px; /* Увеличьте значение по мере необходимости */
    padding: 60px; /* Увеличиваем отступы */
    width: 100%; /* Занимаем всю ширину */
    box-sizing: border-box; /* Учитываем отступы и рамки в ширине */
    min-height: 780px; /* Устанавливаем минимальную высоту */
    font-size: 20px; /* Увеличиваем размер шрифта для всего содержимого */
    text-align: center; /* Центрируем текст для всего содержимого */
}

.content.light {
    color: #302e29; /* Цвет текста для светлой темы */
}

.content.dark {
    color: #e6e6e6; /* Цвет текста для темной темы */
}

.content h2 {
    font-family: 'Roboto', sans-serif; /* Используем Roboto */
    font-size: 40px; /* Увеличиваем размер заголовка */
    margin-top: 90px; /* Добавляем отступ сверху для заголовка */
}

.content ul {
    padding-left: 0; /* Убираем отступ для списка, чтобы он был по центру */
    list-style-position: inside; /* Перемещаем маркеры внутрь списка */
    margin-top: 20px; /* Добавляем отступ сверху для списка */
}

.content li {
    font-size: 30px; /* Увеличиваем размер текста в списке */
    line-height: 1.5; /* Увеличиваем межстрочный интервал */
}

.content img.slider-image {
    width: 1700px; /* Задайте нужную ширину */
    border-radius: 8px; /* Закругление углов изображения */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для изображения */
    object-fit: cover; /* Сохраняет пропорции и обрезает изображение, чтобы заполнить контейнер */
    margin: 0 auto; /* Центрирует изображение по горизонтали */
}

.caption {
    font-family: 'Roboto', sans-serif; /* Используем Roboto */
    text-align: center; /* Центрирует текст */
    margin-top: 10px; /* Отступ сверху */
    font-size: 25px; /* Размер шрифта */
}
