/* Content.css */
html, body {
    height: 100%; /* Устанавливаем высоту для html и body */
    margin: 0; /* Убираем отступы */
}

.content {
    padding: 0; /* Убираем отступы */
    height: 100vh; /* Устанавливаем высоту на 100% от высоты окна */
}

.lab-work {
    text-align: center;
    margin-bottom: 20px;
}

.slider-image {
    max-width: 100%;
    max-height: 80vh; /* Устанавливаем максимальную высоту для изображений */
    height: auto;
}

.dark {
    background-color: #363636; /* Темный фон */
    color: #ffffff; /* Белый текст */
    width: 100%;
}

.light {
    background-color: rgb(106, 139, 177); /* Светлый фон */
    color: #000000; /* Черный текст */
    width: 100%;
}