    .footer {
        background-color: #302e29;
        padding: 11px;
        text-align: center;
        margin-top: auto; /* Чтобы футер прижимался к низу, если контента мало */
    }
    
    .footer-content {
        max-width: 1300px;
        margin: 0 auto;
    }
    
    .footer-nav {
        margin-top: 10px;
    }
    
    .footer-link {
        color: white;
        text-decoration: none;
        margin: 0 10px;
    }
    
    .footer-link:hover {
        text-decoration: underline;
    }

    .footer.light {
        background-color: #302e29; /* Цвет фона для светлой темы */
        color: #e6e6e6; /* Цвет текста для светлой темы */
    }
    
    .footer.dark {
        background-color: rgb(17, 17, 17); /* Цвет фона для темной темы */
        color: #e6e6e6; /* Цвет текста для темной темы */
    }