/* Footer.css */

/* Общие стили для футера */
.footer {
    padding: 1rem; /* Отступы для футера */
}

/* Темная тема */
.dark-f {
    background-color: #1b1b1b; /* Цвет фона для темной темы */
    color: white; /* Цвет текста для темной темы */
}

/* Светлая тема */
.light-f {
    background-color: #363636; /* Цвет фона для светлой темы */
    color: white; /* Цвет текста для светлой темы */
}

/* Дополнительные стили для футера */
.footer-content {
    text-align: center; /* Центрирование текста */
}

.footer .btn {
    margin-bottom: 20px; /* Устанавливаем отступ снизу для кнопки */
}