/* components/Menu.css */

.menu__container {
    position: relative;
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

/* Темная тема */
.dark-m {
    background-color: #6e6e6e; /* Цвет фона для темной темы */
}

/* Светлая тема */
.light-m {
    background-color: #a3a3a3; /* Цвет фона для светлой темы */
}

.navbar-toggler-icon {
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: currentColor;
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: currentColor;
    position: absolute;
    left: 0;
}

.navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler-icon::after {
    top: 8px;
}

.menu {
    position: absolute;
    top: calc(100% + 17px); /* Сдвигаем контейнер вниз на 10 пикселей */
    left: -20px; /* Сдвигаем контейнер влево на 20 пикселей */
    z-index: 1000;
    width: 250px; /* Установите желаемую ширину */
    text-align: center; /* Центрирование текста */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень */
}

.menu ul {
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем отступы */
}

.menu li {
    list-style: none; /* Убираем маркеры списка */
}
