/* styles.css */

body.light-theme {
    background-color: rgb(152, 177, 106); /* Цвет фона для светлой темы */
    color: rgb(59, 55, 48); /* Цвет шрифта для светлой темы */
}

body.dark-theme {
    background-color: rgb(32, 32, 32); /* Цвет фона для темной темы */
    color: white; /* Цвет шрифта для темной темы */
}

html, body {
    height: 100%;
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Задаем минимальную высоту на всю высоту окна */
}

.my-title {
    font-family: 'Arial', sans-serif; /* Задайте нужный шрифт */
    font-size: 22px; /* размер шрифта */
    text-align: center; /* выравнивание текста по центру */
    margin: 2; /* отступ */
}

