/* styles.css */

body.light-theme {
    background-color: rgb(152, 177, 106); /* Цвет фона для светлой темы */
    color: rgb(59, 55, 48); /* Цвет шрифта для светлой темы */
}

body {
    transition: background-color 0.5s ease, color 0.5s ease; /* Плавный переход для фона и цвета текста */
}

body.dark-theme {
    background-color: rgb(32, 32, 32); /* Цвет фона для темной темы */
    color: white; /* Цвет шрифта для темной темы */
}

html, body {
    height: 100%;
    margin: 0;
}


